@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Kanit';
  src: url(/fonts/Kanit/Kanit-Regular.ttf) format('truetype');
  font-weight: normal;
  font-size: normal;
}

@font-face {
  font-family: 'Marker';
  src: url(/fonts/Permanent_Marker/PermanentMarker-Regular.ttf) format('truetype');
  font-weight: normal;
  font-size: normal;
}

@layer base {
  p, h1, h2, h3, h4, h5, h6, span{
    color: theme('colors.middle-gray');
  }
}

@layer components {
  .layout-container {
    max-width: theme('screens.xl');
    margin-left: auto;
    margin-right: auto;
    padding-right: 20px;
    padding-left: 20px;
    width: 100%;
    position: relative;
  }
}